<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/register.css">
    </head>


    <body class="bgGray">
        <%- include("../partials/header.ejs")%>
            <main>
                <div class="register-box">
                    <form class="register-form" action="/products/<%= helper.id %>?_method=PUT" method="POST">
                        <div class="form-section">
                            <p class="main-header">Editar Datos</p>
                            <p class="main-header"><%= helper.nombre + ' ' + helper.apellido %></p>                            
                        </div>
                        <div class="form-section">
                            <p class="section-header">Datos de Dirección</p>
                            <label for="">Calle</label>
                            <input type="text" name="calle" value="<%= helper.calle %>" class="enter-credentials" required>
                            <label for="">Numero</label>
                            <input type="text" name="numero" value="<%= helper.numero %>" class="enter-credentials" required>
                            <label for="">Barrio</label>
                            <input type="text" name="barrio" value="<%= helper.barrio %>" class="enter-credentials" required>
                            <label for="">Provincia</label>
                            <input type="text" name="provincia" value="<%= helper.provincia %>" class="enter-credentials"
                                required>
                                <label for="">CP</label>
                            <input type="text" name="codigoPostal" value="<%= helper.codigoPostal %>"
                                class="enter-credentials" required>
                        </div>
                        <div class="form-section">
                            <p class="section-header">Datos de Oficio</p>
                            <label for="">Oficio</label>
                            <input type="text" name="oficio" value="<%= helper.oficio %>" class="enter-credentials" required>
                            <label for="">Años de Experiencia</label>
                            <input type="text" name="anosExperiencia" value= "<%= helper.anosExperiencia %>"
                                class="enter-credentials" required>
                                <label for="">Tarifa</label>
                            <input type="text" name="tarifaHora" value="<%= helper.tarifaHora%>"
                                class="enter-credentials" required>
                                <label for="">Calle</label>
                            <textarea name="descripcion" cols="10" rows="4" class="description"><%= helper.descripcion %></textarea>
                        </div>
                        <div class="button-section">
                            <button type="reset" class="reset-button">Reestablecer</button>
                            <button type="submit" class="submit-button">Guardar Cambios</button>
                        </div>
                    </form>
                </div>
            </main>
            <%- include("../partials/footer.ejs")%>
    </body>

</html>