<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles-check-out.css">
    </head>
    <!-- cierra el include -->

    <body class="bgGray">

        <%- include("../partials/header.ejs")%>

            <p class="user margin10 blueLetter "> <%=user.firstName%>
               Confirmá los datos de tu compra</p>

                <main>
                    <div class="wrapper">
                        <section class="details">


                            <article class="professional white">
                                       <img class="professionalPicture blueLetter" src="/images/foto-perfil.png"
                                    alt="Foto perfil">
              
                                    <p class="margin10"><%=helper.nombre%>
                                    <%=helper.apellido%></p>
                                   <p class="margin10"><%=helper.tarifaHora%></p> 
                                   <p class="margin10"><%= helper.barrio%></p> 
                                   <p class="margin10"><%= helper.provincia%></p> 
                             
                                    
                                    <p class="margin10"><%= helper.descripcion%></p>

                                    <p class="contact  white">Datos de contacto</p>
                                    <i class="blueLetter fab fa-whatsapp"></i> <%= helper.telefono%>
                                    <i class="blueLetter fas fa-envelope"></i> email@email.com

                            </article>

                            <article class="checkOut white">
                                <p class="center underlined">Resumen de Compra</p>
                                <p>Servicio:</p>
                                <p>Fecha:</p>
                                <p>Subtotal:</p>
                                <p>Adicional:</p>
                                <p class="total">Total</p>


                            </article>

                           

                        </section>

                        <section class="formato">
                            <form class="formatForm" action="" method="get">
                                <div class="warranty blueGreen whiteLetter">
                                    <label>¿Desea agregar un Seguro?</label>
                                    <p> En caso de no presentarse o no estar satisfecho con el servicio, un nuevo Helper
                                        irá
                                        en
                                        su
                                        reemplazo
                                    </p>

                                    <input type="radio" name="warranty" id="Sí" value="Sí" required>
                                    <label for="Sí">Sí</label>
                                    <input type="radio" name="warranty" id="No" value="No">
                                    <label for="No">No</label>
                                </div>

                                <div class="payMethod white">

                                    <label>Método de Pago</label>


                                    <label for="mercadoPago">Mercado Pago</label>
                                    <img class="logoMP" src="/images/MP.png" alt="Mercado Pago" width="20px">
                                    <input type="radio" name="medioDePago" id="mercadoPago" value="mercado pago"
                                        required>


                                    <label for="transferencia">Transferencia Bancaria</label>
                                    <i class="blueLetter fi fi-rr-bank"></i>
                                    <input type="radio" name="medioDePago" id="transferencia" value="transferencia"
                                        required>


                                    <label for="efectivo">Efectivo</label>
                                    <i class="blueLetter fi fi-rr-money"></i>
                                    <input type="radio" name="medioDePago" id="efectivo" value="efectivo" required>

                                </div>
                                <div class="comment whiteLetter">
                                    <label for="comment">Comentarios Adicionales</label>
                                    <textarea class="grayLetter" name="comment" id="comement"
                                        placeholder="Agregue su comentario"></textarea>

                                </div>

                                <button class="buttonStyle whiteLetter center" type="submit">Confirmar Selección
                                </button>

                            </form>
                        </section>

                    </div>
                </main>

                <%- include("../partials/footer.ejs")%>

    </body>

</html>