<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs")%>
    <!-- head abierto en include -->
    <link rel="stylesheet" href="/css/index.css">
    </head>

    <body>
        <%- include("../partials/header.ejs")%>
            <!-- <header>
        <img src="./images/logo4.png" alt="" width=30%>
        <a class="login" href="/login">Ingresar</a>
        <a class="register" href="/register">Registrarse</a>
    </header> -->
            <section class="search">
                <div class="search-field">
                    <input type="text" id="searchterm" placeholder="¿Qué está buscando?" />
                    <button type="button" id="search">Buscar!</button>
                </div>
            </section>
            

            
                    
            <section class="seccion-trabajos-requeridos">
                <h3 class="section-header">Helpers más Requeridos</h3>
                <section class="sub-seccion-trabajos-requeridos">
                    <% helpermasbuscados.forEach(helper =>{%>

            
                    <div class="articulo-trabajo-mas-buscado">
                        <p class="nombre-helper"><%=helper.nombre%> <%=helper.apellido%></p>
                        <img class="imagen-trabajo" src="/images/foto-perfil.png" alt="">
                        <p><%=helper.oficio%></p>
                        <p><%=helper.tarifaHora%> /h</p>
                        <div class="interacciones">
                            <i class="fas fa-heart icon-helper"></i>
                            <i class="fas fa-share-alt icon-helper"></i>
                            <a href="/check-out"><i class="fas fa-shopping-cart icon-helper"></i></a>
                        </div>
                    </div>
                <%})%>

    
                    
                </section>
            </section>
            <section class="seccion-trabajos-catalogo">
                <h3 class="section-header">Catálogo de Oficios</h3>
                <section class="sub-seccion-trabajos-catalogo">
                    <div class="articulo-trabajo-mas-buscado">
                        <a href="/products"><img class="imagen-trabajo" src="/images/electricista.jpg"
                                alt=""></a>
                        <p>Electricista</p>
                    </div>
                    <div class="articulo-trabajo-mas-buscado">
                        <a href="/products"><img class="imagen-trabajo"
                                src="/images/Limpieza-del-hogar.png" alt=""></a>
                        <p>Limpieza del Hogar</p>
                    </div>
                    <div class="articulo-trabajo-mas-buscado">
                        <a href="/products"><img class="imagen-trabajo" src="/images/Pintor.jpg"
                                alt=""></a>
                        <p>Pintor</p>
                    </div>
                    <div class="articulo-trabajo-mas-buscado">
                        <a href="/products"><img class="imagen-trabajo" src="/images/Albañilería.PNG"
                                alt=""></a>
                        <p>Albañilería</p>
                    </div>
                </section>
                <p class="mas-oficios">Más oficios</p>
            </section>

            <section class="porque_elegirnos">
                <h3 class="porque_elegirnos-titulo">¿Por qué elegirnos?</h3>
                <div class="porque_elegirnos-texto">
                    HELPERS permite que quienes necesitan contratar servicios para su hogar, tenga a su disipación
                    múltiples
                    opciones de
                    profesionales expertos en sus rubros, de confianza y probada reputación. También ofrece la ventaja
                    de
                    tener
                    un
                    presupuesto definido al momento de realizar la contratación.
                </div>
                <div>
                    <img class="porque_elegirnos-imagen" src="/images/acuerdo.PNG" alt="">
                </div>

            </section>

            <%- include("../partials/footer.ejs")%>
    </body>

</html>