<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/register.css">
    </head>


    <body class="bgGray">
        <%- include("../partials/header.ejs")%>
            <main>
                <div class="register-box white">
                    <div class="error-message" >
                        <ul id="errores"></ul>
                    </div>
                    <form class="register-form" action="/user/storeUser" method="POST" enctype="multipart/form-data">
                        <div class="form-section">
                            <p class="main-header">Registro de Usuario</p>
                            <p class="section-header">Datos Personales</p>
                            <input type="text" name="Nombre" placeholder="Nombre" class="enter-credentials" id="Nombre"
                            value="<% locals.oldData ? oldData.Nombre : null %>">

                            <% if(locals.errors && errors.Nombre){ %>
                                <p class="error-message">
                                    <%= errors.Nombre.msg%>
                                </p>
                                <% } %>

                            <input type="text" name="Apellido" placeholder="Apellido" class="enter-credentials" id="Apellido"
                                value="<% locals.oldData ? oldData.Apellido : null %>">

                                <% if(locals.errors && errors.Apellido){ %>
                                    <p class="error-message">
                                        <%= errors.Apellido.msg%>
                                    </p>
                                    <% } %>


                            <input type="text" name="Telefono" placeholder="Teléfono de Contacto"
                                class="enter-credentials" id="Telefono" value="<% locals.oldData ? oldData.Telefono : null %>">

                                <% if(locals.errors && errors.Telefono){ %>
                                    <p class="error-message">
                                        <%= errors.Telefono.msg%>
                                    </p>
                                    <% } %>


                            <input type="file" name="userImage" placeholder="cargar imagen" class="enter-credentials" >
                                
                                <% if(locals.errors && errors.userImage){ %>
                                    <p class="error-message">
                                        <%= errors.userImage.msg%>
                                    </p>
                                    <% } %>




                        </div>

                        <div class="form-section">
                            <p class="section-header">Usuario y Contraseña</p>
                            <input type="mail" name="email" placeholder="Correo" class="enter-credentials" id="mail" 
                            value="<% locals.oldData ? oldData.mail : null %>">

                            <% if(locals.errors && errors.email){ %>
                                <p class="error-message">
                                    <%= errors.email.msg%>
                                </p>
                                <% } %>


                            <input type="mail" name="confirmEmail" placeholder="Confirmar Correo" class="enter-credentials" id="confirmEmail" 
                            value="<% locals.oldData ? oldData.confirmEmail : null %>">

                                <% if(locals.errors && errors.confirmEmail){ %>
                                    <p class="error-message">
                                        <%= errors.confirmEmail.msg%>
                                    </p>
                                    <% } %>


                            <input type="password" name="password" placeholder="Contraseña" class="enter-credentials" id="password"
                                >

                                <% if(locals.errors && errors.password){ %>
                                    <p class="error-message">
                                        <%= errors.password.msg%>
                                    </p>
                                    <% } %>

                            <input type="password" name="confirmPassword" placeholder="Confirmar Contraseña"
                                class="enter-credentials" id="confirmPassword">

                                <% if(locals.errors && errors.confirmPassword){ %>
                                    <p class="error-message">
                                        <%= errors.confirmPassword.msg%>
                                    </p>
                                    <% } %>


                        </div>
                        <div class="button-section">
                            <button type="reset" class="reset-button">Reestablecer</button>
                            <button type="submit" class="submit-button">Registrarse</button>
                        </div>
                    </form>
                </div>
            </main>
            <%- include("../partials/footer.ejs")%>
            <script src="/js/registerUser.js"></script>
    </body>

</html>